body,
html {
  font-family: "Bai Jamjuree", serif;
}
.amlich {
  border-collapse: collapse;
  font-size: 20px !important;
}
.calendar {
  font-size: 1rem;
}
.calendar td {
  background-color: #e9eff3;
}
.calendar-month {
  background-color: #ff0028 !important;
  color: #fff;
  text-shadow: 0 0 0.2rem #000;
  padding: 0.3rem;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1rem !important;
}
.amlich-tennam {
  text-align: center;
  font-weight: bold;
  color: #000000;
  background-color: #cccccc;
  font-size: 0.8rem;
}
.amlich .calendar-month,
.amlich .calendar-b-left,
.amlich .calendar-b-right {
  text-align: center;
  padding: 0.4rem 0;
  font-size: 1rem;
}
.amlich .calendar-day {
  text-align: center;
  font-weight: bold;
}
.amlich .calendar-day .day-num {
  font-size: 5rem;
  line-height: 100%;
  color: #ff0028;
}
.amlich .lunar-day-num {
  font-size: 2rem;
  line-height: 100%;
  font-weight: bold;
  color: #ff0028;
}
.amlich .calendar-holiday,
.amlich .calendar-hoangdao {
  padding: 0 0.2rem 0.2rem 0.2rem;
  font-size: 1rem;
  text-align: center;
}
.amlich .calendar-holiday {
  color: #a94442;
  font-weight: bold;
}
.amlich a {
  text-decoration: none;
  color: white;
}
.amlich a:hover {
  color: gold;
}
.amlich .tenthang,
.amlich .navi-l,
.amlich .navi-r {
  text-align: center;
  padding: 0.3rem;
  background-color: #ff0028;
  color: #fff;
  font-weight: bold;
}
.amlich .tenthang {
  text-shadow: 0 0 0.3rem #000;
}
.amlich .navi-l {
  font-size: 1.5rem;
}
.amlich .navi-r {
  font-size: 1.5rem;
}
.amlich .ngaytuan {
  text-align: center;
  color: #330033;
  background-color: #ddd;
  padding: 0.4rem 0.2rem;
  width: 14.286%;
  font-size: 0.8rem;
  font-weight: bolder;
}
.amlich .ngaythang,
.amlich .homnay,
.amlich .tet,
.amlich .leam,
.amlich .leduong {
  cursor: pointer;
  border-bottom: solid 0.1rem #eee;
  padding: 0.2rem;
  width: 14.286%;
}
.amlich .ngaythang div,
.amlich .homnay div,
.amlich .tet div,
.amlich .leam div,
.amlich .leduong div {
  line-height: 125%;
}
.amlich .ngaythang {
  color: #5a5c5b;
}
.amlich tr:nth-child(odd) td.ngaythang:nth-child(odd) {
  background-color: #f9f9f9;
}
.amlich tr:nth-child(odd) td.ngaythang:nth-child(even) {
  background-color: #fff;
}
.amlich tr:nth-child(even) td.ngaythang:nth-child(odd) {
  background-color: #fff;
}
.amlich tr:nth-child(even) td.ngaythang:nth-child(even) {
  background-color: #f9f9f9;
}
.amlich tr td.ngaythang:hover {
  background-color: #f5f5f5 !important;
}
.amlich .homnay {
  background-color: #fcf8e3;
  color: #fff;
}
.amlich .homnay:hover {
  background-color: #faf2cc;
}
.amlich .tet {
  background-color: #f2dede;
}
.amlich .tet:hover {
  background-color: #ebcccc;
}
.amlich .leam {
  background-color: #d9edf7;
}
.amlich .leam:hover {
  background-color: #c4e3f3;
}
.amlich .leduong {
  background-color: #dff0d8;
}
.amlich .leduong:hover {
  background-color: #d0e9c6;
}
.amlich .am {
  text-align: right;
  font-size: 90%;
  color: #554c00;
  padding-right: 0.8rem;
}
.amlich .am2 {
  text-align: right;
  font-size: 90%;
  color: #337ab7;
  font-weight: bold;
  padding-right: 0.8rem;
}
.amlich .t2t6 {
  text-align: left;
  color: #5a5c5b;
  font-weight: bold;
  padding-left: 0.8rem;
}
.amlich .t7 {
  font-weight: bold;
  text-align: left;
  color: blue;
  padding-left: 0.8rem;
}
.amlich .cn {
  font-weight: bold;
  text-align: left;
  color: red;
  padding-left: 0.8rem;
}
